[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-gammu = "*"
openpyxl = "*"

[dev-packages]
pylint = "*"
pyinstaller = "*"

[requires]
python_version = "3.6"
